<div class = search>

            <div class="search_top">
              <header class="header header--search_top">
                <p class="text-middle">検索（片方のみの入力で可）
                </p>
              </header>
              <%= form_tag('/groups/search_top', method: :get) do %>
                <p>
                <%= text_field_tag :group_keyword, @group_keyword, placeholder: "グループ名を入力してください", class: "element" %>
                </p>
                <p>
                <%= text_field_tag :title_keyword, @title_keyword, placeholder: "タイトルを入力してください", class: "element"%>
                <button class="btn-search" title="検索" type="submit"><i class="icon ion-search"></i></button>
                </p>
              <% end %>
            </div>
</div>