<div class="intro">
<div class="head-about">
<h3 class="head-title">
 About
</h3>
<div class="intro-message">
<p id=element>
 「笑い箱」は、漫才の情報を共有するプラットフォームです。
 コンビの名前や漫才のタイトルを<strong>検索</strong>したり、
 自分で漫才を<strong>投稿</strong>したり、
 好きな漫才の台本を<strong>閲覧</strong>・<strong>ダウンロード</strong>することができます。
</p>
</div>
</div>

<h3 class="intro-title">
 ログインしなくてもできること
</h3>
<div class="intro-message">
<p id="element">
以下の操作はログインの有無にかかわらず行えます
</p>
<ul class="intro">
<li>
グループやタイトルの検索
</li>
<li>
台本の閲覧
</li>
<li>
台本のダウンロード
</li>
</ul>
</div>

<h3 class="intro-title">
 ログインしないとできないこと
</h3>
<div class="intro-message">
<p id="element">
以下の操作を行うにはログインが必要です
</p>
<ul>
<li>
グループやタイトルの投稿
</li>
<li>
台本の投稿
</li>
<li>
台本へのいいね
</li>
</ul>
</div>

検索、閲覧、ダウンロード方法
投稿方法、注意点
いいね方法

