
<div class=head-about>
<h3 id="title">
 About
</h3>
<p id="message">
 「笑い箱」は、漫才の情報を共有するプラットフォームです。
 コンビの名前や漫才のタイトルを<strong>検索</strong>したり、
 自分で漫才を<strong>投稿</strong>したり、
 好きな漫才の台本を<strong>ダウンロード</strong>することができます。
</p>

<p>
 What's t
</p>