<% if @products.length > 0 %>
    <ul class="listview js-lazy-load-images">
      <% @products.each do |product| %>
      <li>
        <a class="listview__element--right-icon" href="/products/ %>" title="<%= product.name %>">
          <div class="position-right p1em">
            <i class="icon-chevron-right color-sub"></i>
          </div>
          <div class="row no-space-bottom">
            <div class="col2">
              <div class="thumbnail thumbnail--movies">

              </div>
            </div>
            <div class="col6 push6">
              <h3 class="text-middle text-break">
                <span class="color-sub"><%= product.name %></span>
              </h3>
          </div>
        </a>
      </li>
      <% end %>
    </ul>
<% end %>