.field{
    //font-size: 30px;
}

.title-field{
    font-size: 30px;
    width: 700px;
    margin: 10px 10px 20px;
}

.btn-create-title{
    font-size: 30px;
}

.head-create-title{
    margin: 10px 0;
    a{
    font-size: 50px;
    }
}

table{
    width: 99%;
    margin: 5px auto;
    font-size: 25px;
    //padding: 10px 10px;
    a{
    font-size: 25px;
    }
}

th{
    font-size: 30px;
}

.check_all_class{
    width: 30px;
    height: 30px;
    //font-size: 20px;
    margin: 5px 15px 5px;
}
label{
font-size: 30px;
}

.check{
    width: 30px;
    height: 30px;
}

.btn-download{
    margin: 15px 15px;
    font-size: 30px;
}

td{
    border: solid .5px;
    //margin: 5px 10px;
    background-color: white;
    text-align: center;
    padding: 10px 5px;
    //font-size: 25px;
}
.top-index{
     //display: block;
     color: black;
     //background-color: white;

     border: solid 19px;

     .element{
     padding: 10px 10px;
     margin: 10px auto;
     }
}



.group-member{
    font-size: 30px;
}
