html{
}

 @import 'ionicons';

body {
  background-color: rgb(240,240,240);
  font-size: 50px;
  color: #333;
  margin: 0 0 200px;
  //margin_bottom: 100px;
}
h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
  //margin_bottom: 100px;
}

a {
    //text-decoration: none;
    line-height: 40px;
    color: black;
    border: 1px;
    padding: 5px;
    font-size: 40px;
}

header {
  background-color: gray;
  height: 75px;
}

.funcbtn{
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 60;
  display: flex;
  justify-content: space-around;
  .funcbtn-contents{
    text-align: center;
    display: flex;
    align-items: center;
    width: 33.4%;
    height: 140px;
    z-index: 70;
    background-color: #f6a096;
    font-size: 70px;
    a{
        text-decoration: none;
        margin: 0 auto;
        color: #fff;
        font-size: 70px;
    }
    a:active, a:focus{
        color: #FFDAB9;
    }
  }
}

.search__query{
    font-size: 40px;
}

.btn-search{
  //height: 20px;
  font-size: 40px;
  //border-radius: 5px;
  -webkit-appearance: 5px;
}

.field{
textarea {
width: 250px;
height: 10px;
fontsize: 30px;
}
}

.search {
  //position: absolute;
  width: 100%;
  bottom:20px;
  height: 142px;
  margin: 5px auto;
}


.header--search_top {
  background-color: yellow;
  margin: auto auto;
  padding: 0;
  height: 30px;
}

.search_top{
  background-color: blue;
  width: 250px;
  padding: 0;

}

.text-middle{
  text-align: center;
  margin: auto auto;
  padding: 0;

}

.header--search_title {
  background-color: yellow;
  margin: auto auto;
  padding: 0;
  height: 30px;
}

.search_title{
  background-color: blue;
  width: 250px;
  padding: 0;
}

.button {
  height: 30px;
  width: 40px;
  background-color: black;
  color: white;
  border-style: none;
}