body {
  background-color: rgb(40,200,200);
  font-size: 14px;
  color: #333;
  margin: 0 auto;
  width: 375px;
  height: 667px;
}
h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}

header {
  background-color: gray;
  height: 50px;
}


.footer_home{
  font-size: 10px;
}






.search {
  height: 142px;
  margin: 5px auto;
}


.header--search_top {
  background-color: yellow;
  margin: auto auto;
  padding: 0;
  height: 30px;
}

.search_top{
  background-color: blue;
  width: 250px;
  padding: 0;

}

.text-middle{
  text-align: center;
  margin: auto auto;
  padding: 0;

}

.header--search_title {
  background-color: yellow;
  margin: auto auto;
  padding: 0;
  height: 30px;
}

.search_title{
  background-color: blue;
  width: 250px;
  padding: 0;
}

.button {
  height: 30px;
  width: 40px;
  background-color: black;
  color: white;
  border-style: none;
}