.user_page_head{
    margin: 0 auto;
    text-align: center;
    color: gray;
}

.logout{
     position: absolute;
    top: 200px;
    right: 20px;
}

.products{
    .user-posts{
    font-weight: bold;
    }
    .user-products{
     color: black;
     background-color: white;
    }
}