<div class = search>
            <div class="search_title">
              <header class="header header--search_title">
                <p class="text-middle">
                <%= "#{@group.name}のタイトルを検索" %>
                </p>
              </header>
              <%= form_tag("/groups/#{@group.id}/products", method: :get) do %>
                <p>
                <%= text_field_tag :title_keyword, @title_keyword , placeholder: "タイトルを入力してください", class: "element"%>
                <button class="btn-search" title="検索" type="submit"><i class="icon ion-search"></i></button>
                </p>
              <% end %>


            </div>
</div>